@charset "UTF-8";
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(../img/static/background.jpg) repeat
}

a {
    background-color: transparent;
    color: #000
}

a:hover {
    color: #32cd32;
}

a:visited {
    color: #003d07
}

a:active {
    color: green
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:active, a:hover {
    outline: 0;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px
}

h1, h2, h3, .navbar-brand, .navbar-nav, .intro-text {
     text-transform: uppercase
 }

p {
    text-indent: 2em;
    font-size: 1.25em;
    line-height: 1.6;
    color: #000
}

hr {
    max-width: 400px;
    border-color: #999
}

.brand, .address-bar {
    display: none
}

.navbar-brand {
    font-weight: 900;
    letter-spacing: 2px
}

.navbar-nav {
    font-weight: 400;
    letter-spacing: 3px
}

.box {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, .7)
}

.intro-text {
    font-weight: 400;
    letter-spacing: 1px
}

.message-text {
    font-size: 1em;
    text-align: center
}

.intro-text,
.login-alert {
    font-size: 1.25em
}

.text-contact {
    font-size: 18px;
    color: #000
}

.error-text {
    font-size: 35px;
    color: green
}

.error-message {
    font-size: 15px;
    color: #a9a9a9
}

a img:hover {
    opacity: .75;
}

.img-border {
    float: none;
    margin: 0 auto;
    border: #999 solid 1px
}

img.img-section,
img.main-logo {
    max-height: 200px;
    max-width: 300px
}

img.img-logo-in-list {
    max-height: 120px;
    max-width: 160px
}

.logo {
    text-align: center
}

img.img-logo {
    float: none;
    max-height: 120px;
    max-width: 160px;
    margin: 1px 2px 3px 4px
}

img.img-favicon {
    height: 50px
}

img.img-slyde {
    width: 100%;
    max-height: 600px
}

img.img-in-list {
    float: none;
    margin: 0 auto;
    max-height: 200px;
    max-width: 300px
}

img.img-preview {
    max-height: 100px;
    max-width: 200px
}

footer {
    background: rgba(255, 255, 255, .7)
}

footer p {
    text-indent: 0;
    margin: 0;
    padding: 12px
}

@media screen and (min-width: 768px) {
    .brand {
        display: inherit;
        padding: 20px 0 10px;
        text-align: center
    }

    .img-left {
        float: left;
        margin-right: 25px
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #2fa02f
    }

    .navbar {
        border-radius: 0
    }

    .navbar-header {
        display: none;
        background: rgba(255, 255, 255, .7)
    }

    .navbar {
        min-height: 0
    }

    .navbar-nav > li > a {
        line-height: normal
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em
    }
}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both
    }
}

@media screen {
    .navbar-default {
        border: 0;
        background: rgba(255, 255, 255, .7)
    }
}

.vk {
    color: #6896c7
}

.fb {
    color: #486093
}

.sk {
    color: #00aff0
}

.tw {
    color: #28c3fe
}

.color-green {
    color: #2a9b2a
}

.color-red {
    color: red
}

.copyright {
    font-size: 15px
}

.icon-size {
    height: 20px;
    width: 20px
}

ul.dropdown li {
    position: relative
}

ul.dropdown {
    list-style-type: none;
    padding: 0
}

ul.dropdown-inside {
    list-style-type: none;
    padding: 10px;
    position: absolute;
    left: -9999px;
    z-index: 10;
    text-transform: none;
    letter-spacing: 1px
}

ul.dropdown li.dropdown-top {
    display: inline;
    float: left
}

ul.dropdown li.dropdown-top a {
    display: block
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0
}

ul.dropdown .dropdown-inside {
    background: #fff;
    border: 1px solid #aaa
}

ul.dropdown-inside hr {
    max-width: 400px;
    border-color: #999;
    margin-top: 8px;
    margin-bottom: 8px
}

.little {
    font-size: 12px
}

.little, .path {
    color: grey;
}

.path, .response {
    font-size: 15px
}

.video-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}

.video-frame {
    max-width: 500px;
    max-height: 300px;
    min-height: 250px;
    margin-bottom: 10px
}

.textarea {
    resize: none
}

input.input-time {
    width: 30%;
    display: inline
}

table.table-size {
    width: 70%
}

th.ths {
    width: 20%;
}

td.tds {
    width: 80%;
}

th.ths, td.tds,
.pad {
    padding: 10px
}

.no-valid {
    font-size: 15px;
    color: red;
    font-style: italic
}

.tagline {
    color: #602f8d;
    text-align: center;
    padding-top: 1em;
    font: italic 1.5em Georgia, serif
}

@media (min-width: 768px) {
    .logo {
        text-align: left
    }

    .tagline {
        font-size: 2em;
        text-align: right;
        padding-top: 1.6em
    }
}

#LG_container {
    border: 1px solid #aaa;
    visibility: hidden;
    position: absolute;
    padding: 2px;
    z-index: 200;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    font: 12px verdana, arial, sans-serif
}

#LG_loading {
    background: url(../img/static/for-gallery/ico-loading.gif) no-repeat center;
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px
}

#LG_panel {
    padding: 1px 0;
    clear: both
}

#LG_prevLink, #LG_nextLink {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    opacity: 0;
    filter: alpha(opacity=0)
}

#LG_prevLink {
    left: 0;
    background: url(../img/static/for-gallery/prev.gif) no-repeat left 40px
}

#LG_nextLink {
    right: 0;
    background: url(../img/static/for-gallery/next.gif) no-repeat right 40px
}

#LG_imgIndex {
    float: left;
    margin-left: 16px;
    color: #777;
    height: 20px;
    line-height: 20px
}

#LG_titleBar {
    color: #555;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center
}

#LG_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    filter: Alpha(opacity=0)
}

#LG_pic {
    display: none;
    margin: 0 auto;
    padding-right: 5px
}

#LG_zoomIn, #LG_zoomOut, #LG_zoomNormal, #LG_fitScreen, #LG_zoom_disabled {
    width: 20px;
    height: 20px;
    margin: 1px;
    float: left;
    cursor: pointer;
    display: block
}

#LG_zoom_disabled {
    display: none
}

#LG_zoomIn {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 0
}

#LG_zoomIn:hover {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -40px
}

#LG_zoomNormal {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -80px
}

#LG_zoomNormal:hover {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -120px
}

#LG_zoomOut {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -160px
}

#LG_zoomOut:hover {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -200px
}

#LG_fitScreen {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -320px
}

#LG_closeBtn {
    float: right;
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -240px;
    width: 22px;
    height: 22px;
    cursor: pointer
}

#LG_closeBtn:hover {
    background: url(../img/static/for-gallery/sprite.gif) no-repeat 0 -280px
}

.gallery {
    text-align: center;
    padding-bottom: 10px
}

.gallery img {
    width: 240px;
    height: 180px;
    border: 1px solid #777;
    vertical-align: baseline
}
